{% extends "base.html.twig" %}

{% block body %}
<h1>Bienvenue !</h1>
    <main>
    <div class="col-sm12 text-center">
        <img class="img-fluid col-xl-6 col-lg-12 col-md-12 col-sm-12" src="forum.jpg" alt="forum" title="S'instruire !"class="img-responsive" >
        <br/>
    </div>
    </main>
{% endblock %}

{% block javascript %}{% endblock %}