{%extends "base.html.twig"%}
{% block body %}
<h1>Contact</h1>


# src/tuto/WelcomeBundle/Form/Type/ContactType.php
<?php
namespace App\Controller;

use Symfony\Component\Form\AbstractType;
use Symfony\Component\Form\FormBuilder;

class ContactType extends AbstractType
{
    public function buildForm(FormBuilder $builder, array $options)
    {
        $builder->add('email', 'email')
                ->add('subject', 'text')
                ->add('content', 'textarea');
    }

    public function getName()
    {
        return 'Contact';
    }
}
?>
{% endblock %}