{% extends "base.html.twig" %}

{% block body %}
<h1>Evenements  !</h1>
<h3>{{evenement.id}}</h3>
<h3>{{evenement.title}}
<p>{{evenement.category}}
<p>{{evenement.description}}
    
{% endblock %}

{% block javascript %}{% endblock %}